[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"
# trafficbench
trafficbench = {editable = true, extras = ["all"], path = "./nrf52_rf_survey/trafficbench/py_package"}
shepherd-core = {extras = ["elf"], version = "*"}
# Trafficbench host-scripts
numpy = "*"
tables = "*"
cbor2 = "*"
crcmod = "*"
xonsh = "*"
vitables = "*"
crc = "*"
matplotlib = "*"

[dev-packages]

[pipenv]
allow_prereleases = false
