[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"
# trafficbench
shepherd-core = {extras = ["elf"], version = "*"}
# Trafficbench host-scripts
numpy = "*"
tables = "*"
cbor2 = "*"
crcmod = "*"
xonsh = "*"
vitables = "*"

[dev-packages]

[pipenv]
allow_prereleases = false
