[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"
# trafficbench
trafficbench = {extras = ["all"], ref = "main", git = "git+https://github.com/nes-lab/TrafficBench.git", subdirectory = "py_package"}
shepherd-core = {extras = ["elf"], version = "*"}
# Trafficbench host-scripts
numpy = "*"
tables = "*"
cbor2 = "*"
crcmod = "*"
xonsh = "*"
vitables = "*"
crc = "*"
matplotlib = "*"


[dev-packages]

[pipenv]
allow_prereleases = false
