# core libs used in the scripts
numpy >= 1.21.3
tables >= 3.6.1
cbor2 >= 5.4.2
crcmod >= 1.7
# crc can be used as alternative for crcmod
#crc >= 1.2.0

# xonsh shell (for details see https://xon.sh)
# required if user wants to use helper scripts like extract_data.xsh
xonsh >= 0.13.1

# ViTables, a plain PyTables viewer (for details see https://vitables.org)
# not required, helpful for inspection and debugging
ViTables >= 3.0.2

# Glue data exploration framework (for details see https://glueviz.org)
# not required, but explicitly supported
# limit version to 1.2.4 because 1.3.0, 1.4.0, and 1.5.0 cause trouble with
# session export/import together with glue_config.py
# (
#	1. ModuleNotFoundError: No module named 'config'
#	   This can be solved (as a work-around) by storing glue_config.py as config.py in cwd.
#	2. RuntimeError: Duplicate custom viewer detected <class 'glue.viewers.custom.qt.custom_viewer.TrafficBenchRxViewerDataViewer'>
# )
glue-core <= 1.2.4
glueviz >= 1.2.0

# lognplot is optionally supported by trx_dump.py, do not install it by default
# lognplot >= 0.1.1
